<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <tlc.errors>
    <errorMessages>
      <add key="PossibleAttack" code="4000" message="Please ensure you use the provided form to change your password." />
      <add key="InvalidCommand" code = "4001" message = "Please ensure you use the provided form to change your password."/>
      <add key="RecentlyChanged" code = "4010" message = "Unable to find an account with that username and old password, please try again. If you have forgotten your password, please contact the service desk, quoting code 4010."/>
      <add key="InvalidAccount" code = "4003" message = "Unable to find an account with that username and old password, please try again."/>
      <add key="DontNeedToChangePassword" code = "2003" message = "We can't help you right now. If you have forgotten your password, please contact the service desk, quoting code 2003."/>
      <add key="PolicyFailure" code = "4004" message = "The password you have entered does not meet The London Clinic minimum password strength policy. Please enter a more complex password. If you’re unsure of what constitutes a strong password, please call the service desk and quote code 4004."/>
      <add key="ServiceAccountNotWorking" isFatal="true" code = "5001" message = "We are unable to change your password at this time."/>
      <add key="Unknown" isFatal="true" code = "5002" message = "We are unable to change your password at this time."/>
      <add key="NoSuchUserName" code = "4005" message = "Unable to find an account with that username and old password, please try again."/>
      <add key="ConnectionIssue" isFatal="true" code = "5003" message = "We are unable to change your password at this time."/>
      <add key="LdapConnectionIssue" isFatal="true" code = "5004" message = "We are unable to change your password at this time."/>
      <add key="InvalidPassword" code = "4006" message = "Unable to find an account with that username and old password, please try again."/>
      <add key="InvalidDomain" code = "4007" message = "You have entered an incorrect domain. You can just enter 'yourusername', you don't need the 'domain\\'"/>
      <add key="LcdDomain" isFatal="true" code = "4008" message = "We are unable to change your password at this time."/>
    </errorMessages>
  </tlc.errors>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
